.card-size {
    width:20rem;
    margin:20px 20px 20px 0;
    height: 30rem;
}

.img-wrap{
    margin-top: 1em;
    height: 100px;
    text-align: center;
}

.img-size{
    height: 100%;
    width: auto;
}

.prod-des{
    font-size: 14px;
}
