.card-size {
    width:22rem;
    margin:20px 20px 20px 0;
    height: 30rem;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .3);
    border: none;
}

.card-title {
    font-size: 20px;
    color: rgba(0,0,0,.87);
}

.card-sub-title {
    font-size: 14px;
    color: rgba(0,0,0,.54);
}

.img-wrap{
    margin-top: 1em;
    height: 100px;
    text-align: center;
}

.img-size{
    height: 100%;
    width: auto;
}

.prod-des{
    font-size: 14px;
    text-align: justify;
}
